*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Intel{
	background-color: #0071c5;
}

.AMD{
	background-color: black;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}