*{
	margin: 10px;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.Intel{
	background-color: #0071c5;
}

.AMD{
	background-color: black;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

table, th, td {
  word-wrap: break-word;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.CenteringComponent{
	display: flex;
	width: 100wh;
	flex-direction: column;
	justify-content: center;
}